<!-- footer-area-start-->
<footer>
    <div class="footer-area pt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-box">
                        <div class="logo">
                            <a href="index.html">
                                <img src="static/img/footer-logo.png" alt="img"/>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                        </div>
                        <address>
                            <ul class="text-foot">
                                <li><i class="icofont-google-map"></i> 11 Georgian Rd, 58/A <br>New York City</li>
                                <li><i class="icofont-phone"></i> <a href="tel:12396661985">+123-9666 1985</a></li>
                                <li><i class="icofont-envelope"></i> <a
                                            href="mailto:info@medics.com">info@medics.com</a></li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-box">
                        <h2>Explore</h2>
                        <ul class="text-foot">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box another">
                        <h2>Links</h2>
                        <ul class="text-foot">
                            <!--                            <li><a href="#">Make An Appointment</a></li>-->
                            <!--                            <li><a href="#">FAQ</a></li>-->
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box another">
                        <h2>Follow Us</h2>
                        <ul class="social">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <!--                            <li><a href="#"><i class="icofont-instagram"></i></a></li>-->
                            <!--                            <li><a href="#"><i class="icofont-linkedin"></i></a></li>-->
                            <li><a href="#"><i class="icofont-telegram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p>2020 © all rights reserved by <a href="#">Medics</a></p>
        </div>
    </div>
    <a href="#" class="go-top"><i class="fas fa-arrow-up"></i></a>
</footer>
<!--    footer-bottom-area-end-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/jquery-circular-progressbar-1.2.2.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.ui.js"></script>
<script src="static/js/jquery.sticky.js"></script>
<script src="static/js/jquery.nice-select.js"></script>
<script src="static/js/jquery.magnific-popup.min.js"></script>

<script src="static/js/main.js"></script>
</body>

</html>