{{ template "header.gohtml" }}
{{ template "navbar.gohtml" }}

<!-- hero-about-area start -->
<div class="banner-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-about-text text-center">
                    <h2>Buy Now</h2>
                    <h4><span>Home / </span><a href="#">Shop</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero-about-area End -->

<h1>Page: Shop</h1>

{{template "footer.gohtml"}}